@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  color: #212529;
}

body { 
  background-color: #fafaf8;
  font-family: 'Open Sans', sans-serif;
  padding-top: 68px;
  font-size: 14px;
}

p {
  line-height: 1.5;
}

.btn-secondary {
  background-color: #707070;
  border-color: #707070;
}

.btn-secondary:hover {
  background-color: #1a252f;
  border-color: #151e27;
}

select {
  -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      -webkit-border-radius: 0px !important;
      -moz-border-radius: 0px !important;
      border-radius: 0px !important;
      border-collapse: collapse !important;
    background-image: none !important;
  }

.navbar {
  background-color: #046b99 !important;
  height: 68px;
  border-bottom: 5px solid #FDB81E;
  padding: 0 1rem;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.nav-logo {
  display: inline;
  height: 42px;
}

.nav-text {
  padding: 0 10px 0 15px;
  display: none;
}

#map-container {
  display: block;
  padding: 0;
  border-right: 1px solid rgba(0,0,0,.125);
}

.leaflet-container {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
}

#map {
  padding: 0;
}

.map-tooltip {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  text-align: center;
}

#right {
  /* subtract navbar height; otherwise, div will go off screen */
  height: calc(100vh - 68px);
  overflow: hidden;
  overflow-y: scroll; 
}

.card-header {
  color: #707070;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
}

.card, .btn {
  border-radius: 0;
}

.card-title {
  margin-bottom: 1rem;
}

#info-container {
  padding: 15px 0 0 0;
}

#site-info-card {
  margin-bottom: 0 !important;
}

.site-title {
  font-size: 20px;
  margin-bottom: 18px;
}

#site-pic {
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}

#table-container {
  padding: 15px 0 0 0;
}

#table-card {
  overflow-x: auto;
  font-size: 1em;
}

/* keep these two separate */
.table th {
  border-top: 0px;
}

th {
  min-width: 70px;
}

/* speed up collapse transition */
.collapsing {
  -webkit-transition:height .01s ease;
   transition:height .01s ease
}

.column-analyte {
  min-width: 275px;
}

#graph-container {
  padding: 15px 0;
}

.analyte-title {
  font-size: 16px;
}

.tooltip {
  position: absolute;
  padding: 4px 8px;
  background-color: #1a252f;
  color: #fff;
  vertical-align: middle;
  text-align: left;
  font-family: inherit;
  font-size: 12px;
  pointer-events: none;
}

.axis text {
  font-family: 'Open Sans', sans-serif;
  font-size: calc(1em * 2.2);
}

.line-label, .range-label {
  font-size: calc(1em * 1.4);
}

.axis-label {
  display: none;
}

.trend-box {
  min-width: 165px;
}

.trend-card {
  text-align: center;
}

.download-wrapper {
  padding: 8px;
}

#return-icon {
  position: relative;
  top: 2px;
  font-size: 28px;
  color: #fff;
}

#return-to-top {
  position: fixed;
  bottom: 14px;
  right: 28px;
  background: rgb(0, 0, 0);
  background: rgba(3, 71, 103, 0.8);
  width: 40px;
  height: 40px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: block;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


#return-to-top:hover {
  background: rgb(44, 62, 80);
}

#alert-icon {
  font-size: 22px;
  color: #000;
}

ion-icon {
  transform: translate(0px, 3px);
  font-size: 18px;
  color: #2c3e50;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body {
      padding-top: 68px;
  }
  .nav-text {
      display: none;
  }
  .axis text {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.2em;
  }
  .line-label, .range-label {
      display: inline;
      font-size: 16px;
  }
  .axis-label {
      display: inline;
      font-size: 0.8em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
      padding-top: 68px;
  }
  .nav-text {
      display: none;
  }
  #map-container {
      display: block;
  }
  #site-pic {
      display: block;
  }
  .axis text {
      font-size: 1.4em;
  }
  .line-label, .range-label {
      font-size: 0.9em;
  }
  .axis-label {
      font-size: 0.9em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
      padding-top: 68px;
  }
  .nav-text {
      display: inline;
  }
  .axis text {
      font-size: 1.8em;
  }
  .line-label, .range-label {
      font-size: 1.2em;
  }
  .axis-label {
      font-size: 1em;
  }
  .small-text {
      line-height: 1.2em;
      font-size: 1em;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
      padding-top: 68px;
  }
  .axis text {
      font-size: 1.2em;
  }
  .line-label, .range-label {
      font-size: 0.9em;
  }
  .axis-label {
      font-size: 0.8em;
  }
}
